<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grouped Coverage Report</title>
  <link rel="stylesheet" href="pure-min.css">
  <link rel="stylesheet" href="coverage.css">
</head>
<body>
  <div id="container">
    {{#each coverage}}
    <section id="{{kebabCase @key}}" class="team">
      <h2>{{@key}}</h2>
      <div class="total-coverage">
        <div class="{{coverageClassForMaxPct this.total}}">Total</div>
        <div class="{{coverageClassForMaxPct this.total}}">
          <progress class="progress" value="{{maxPct this.total}}" max="100"/>
        </div>
        <div class="{{coverageClass this.total.statements.pct}}">
          Statements: {{ this.total.statements.pct }}%
        </div>
        <div class="{{coverageClass this.total.branches.pct}}">
          Branches: {{ this.total.branches.pct }}%
        </div>
        <div class="{{coverageClass this.total.functions.pct}}">
          Functions: {{ this.total.functions.pct }}%
        </div>
        <div class="{{coverageClass this.total.lines.pct}}">
          Lines: {{ this.total.lines.pct }}%
        </div>
      </div>
      <details>
        <summary>{{objectLength this.files }} Files</summary>
        <table id="table-{{kebabCase @key}}" class="pure-table pure-table-bordered coverage-table">
          <thead>
            <tr>
              <th data-sort="none">
                File <span class="sort-icon"/>
              </th>
              <th data-sort="none">
               <span class="sort-icon"/>
              </th>
              <th data-sort="none">
                Statements% <span class="sort-icon"/>
              </th>
              <th data-sort="none">
                Branches% <span class="sort-icon"/>
              </th>
              <th data-sort="none">
                Functions% <span class="sort-icon"/>
              </th>
              <th data-sort="none">
                Lines% <span class="sort-icon"/>
              </th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </details>
    </section>
    {{/each}}
  </div>
  <script type="text/javascript">
    window.__COVERAGE_DATA__ = {{{json coverage}}};
    window.__COVERAGE_TABLE_MAP__ = { {{#each coverage}}"table-{{kebabCase @key}}": "{{@key}}",{{/each}} };
  </script>
  <script type="text/javascript" src="table.js"></script>
</body>
</html>
